* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
#container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(1, auto);
}
#container > div {
}
#right-box {
  padding: 2% 8%;
}
#right-box > h2 {
  letter-spacing: 5px;
  color: #00aa01;
}
#right-box > div {
  /* border: 1px solid teal; */
  width: 95%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
#right-box > div > div:nth-child(1) {
  /* border: 1px solid yellow; */
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#right-box > div > div:nth-child(1) > div {
  width: 100%;
  height: 20px;
  border: 2px solid black;
}
#right-box > div > div:nth-child(1) > div:nth-child(1) > div {
  width: 90%;
  height: 100%;

  background-color: rgba(5, 0, 0, 0.295);
}
#right-box > div > div:nth-child(1) > div:nth-child(1) > div {
  width: 90%;
  height: 100%;

  background-color: red;
}
#right-box > div > div:nth-child(1) > div:nth-child(2) > div {
  width: 100%;
  height: 100%;

  background-color: red;
}
#right-box > div > div:nth-child(1) > div:nth-child(3) > div {
  width: 95%;
  height: 100%;

  background-color: red;
}
#right-box > div > div:nth-child(2) {
  /* border: 1px solid orange; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#right-box > div > div:nth-child(2) > div > p {
  font-weight: 400;
  font-size: 20px;
}
h1 {
  text-align: center;
  color: red;
}
#left-box > img {
  width: 100%;
  height: auto;
}
